@import 'variables.scss';

#room{
    color:white;
    height: 100vh;

    video{
        object-fit: cover !important;
        height: 100%;
    }

    .stream-status
    {
        position:relative;
  
        bottom: -30px;
        margin-top: -30px;
        min-height:30px;
        text-align: left;

        .bi
        {
            width: 30px;
            display: none;
            position:relative;
            top:1px;
            margin: 0 .25rem;
            filter: invert(.5);

            &:hover{
                filter: inherit;
                transition: all .25s;
            }

            &.active{
                display: initial;
            }
        }


    }

    .stream-controls
    {
        position: relative;
        display: inline;
        top:-2.5rem;
        
        .bi
        {
            position:relative;
            top:1px;
            margin: 0 .25rem;
            filter: invert(.5);

            &:hover{
                filter: invert(0);
                transition: all .25s;
            }
        }

        .live-btn{
            margin: 0 .25rem;
            position:relative;
            top:-1px;
            //right:.25rem;
    
            font-size:x-small;
            border: 1px solid black;
            background-color: rgba(0,0,0,.25);
            backdrop-filter: blur(27px);
            border-radius:2px;

            color:gray;
    
            &.active{
                color: white;
                mix-blend-mode: difference;
                background-color: rgba(255,0,0,1);
    
                animation: blink 1.5s ease infinite;
            }

            &:hover{
                color:white;
                background-color: rgba(255,0,0,1);
                transition: all .25s;
            }
        }
    }
    #mainstream, #otherstreams{
        transition: all .125s ease-out;
    }

    #mainstream
    {
       
    }

    #otherstreams{
        min-height:128px;
        min-width:128px;
        
        .Video
        {
            width:128px;
            height:128px;
        }
    }
    
        @include media-breakpoint-down(sm) {  
            #mainstream{
                height: calc(100% - 136px);
            }

            #otherstreams{
                .row
                {     
                    height: 128px;
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    overflow-x: scroll;
                    flex-direction: row;
                }

                //height:136px;
                //width: 100000px;   
            }
        }

        @include media-breakpoint-up(md) {  
            #mainstream{
                //height: calc(100% - 60px);
                display: flex;
            }

            #otherstreams{
                height: calc( 100vh );
                width:150px;
                overflow-y: scroll;
            }

        }

        @media (max-height: 575.98px)
        {

            #title
            {
                display:none;
            }
        }
}
