@import 'variables.scss';
@import "bootstrap/scss/bootstrap.scss";

//main-video-col
//main-video
//stream-controls
//carousel-col
//carousel

#room{
    
    color:white;
    height: 100vh;
    .Video{
        video{
            height: 100%;
            width:100%;
        }
        &:hover{
            background-size: contain;
        }

        .bi::before{
            margin:0;
            margin-top:1px;
            margin-bottom: 2px;
        }
    }

    .badge{
        padding: 0.45em 0.25em;
    }


    #content-row{
        height:100%;
    }

    #main-video-col {
        height: 100%;
        overflow: hidden;
        //background: magenta;

        .Video
        {
            width:100%;
            height:100%;
            object-fit: cover;
        }
    }
    
    #stream-controls {
        //background:rgba(255, 166, 0, 0.171); 
        width:100%; 
        height:60px; 
        margin-top: -60px; 
        width: calc( 100% - 166px - .5rem ); 
        position: absolute; 
        bottom: .5rem;
    }

    #carousel-col {
        height: 100%;
        width:166px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    #carousel {
        display: flex;
        flex-direction: column;
        .Video, .Video video{ 
            width: 166px; 
            height:124px; 
            object-fit: cover;
        }
    }

    @media (orientation: landscape){}
    @media (orientation: portrait){
        #content-row{ flex-direction: column-reverse; }
        #main-video-col{width:100%;}
        #stream-controls{width:100%;}
        #carousel-col{ 
            width:100%; height:124px; 
            overflow-x: scroll;
            overflow-y: hidden;
        }
        #carousel .Video{
            height:100%;
        }

        #carousel{ flex-direction: row;}
    }

    
}
