@import 'variables.scss';

#wizzard{
    .tab-pane{
        img {
            width: 100%;
        }
    }

    .nav {
        position: absolute;
        left:0;
        
        .nav-item
        {
            color: darken(white,50%);
            background-color: $color1;
            .active
            {

            }
        }
    }
}