@import "variables.scss";

#room-list{
    padding:0;
    color: white;
    list-style-type: none;
        
    a {
        background-color: $color1;
        border-top: 1px solid $color2;
        border-bottom: 1px solid $color2;
    }

    .room-icon {
        filter: hue-rotate(166deg) 
                brightness(0.9) 
                saturate(0.5) 
                contrast(1.1);
        border-radius: 2px;
    }

    .user-icon
    {
        margin-top: .5rem;
    }

    span{
        position: absolute;
        margin-top:2.5rem;

        color:$color5;
        font-family: $principal_font;
        font-weight: bold;
        text-shadow: rgba(0,0,0,.5) 5px 1px 10px;
    }
    

}