
:root {
  --scroll-fg: rgba(1,1,1,.15);
  --scroll-bg: #7386D5;
}

body,html{
  width:100%;
  height:100%;
  background-color: #232727;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* ---------------------------------------------------
    APP
----------------------------------------------------- */
.App {
  text-align: center;
}

.App-logo {
  height: 7.5vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.wrapper{
  display: flex;
  width: 100%;
  align-items: stretch;
  background-color: #F4F5F7 !important;
}





/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: spin infinite 20s linear;
  }
}


/* ---------------------------------------------------
    ANIMATIONS
----------------------------------------------------- */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#title
{
  transition: all .25s linear;
}

@media (max-width: 823px) {
  #title
  {
      padding-left: 4rem;
      transition: all .25s linear;
  }
}

