@import "variables.scss";

* {
    font-family: $principal_font !important;
}

body, html{
   // overflow: hidden;
}

#title{
    color:$color3;
    font-weight: bold;
    font-family: $principal_font;
    
    .btn
    {
        color:#4666AC;
        padding: 0 0.35rem;
        border:none;
        margin-right: .25rem;
    }
}

#description{
    color:white;
    font-weight: bold;
    font-family: $principal_font;
}

#content{
    background-color: $background;
}
/*==========================================
    Custom Class rules for Bootstrap
==========================================*/

.vh-90 {
    height: 90vh!important;
}

/*==========================================
    Custom Scrollbar
==========================================*/
    *{
        scrollbar-width: thin;
        scrollbar-color: var(--scroll-fg) var(--scroll-bg);
    }
    
    *::-webkit-scrollbar {
        width: 0;
        margin-right: -10px;
    }
    
    *::-webkit-scrollbar-track {
        background: var(--scroll-bg);   
    }
    
    *::-webkit-scrollbar-thumb {
        background-color: var(--scroll-fg);
        border-radius: 20px;
        border: 3px solid var(--scroll-bg);
    }


.footer
{
    width: calc(100% - 236px);
    position: fixed;
    bottom: 1rem;
    /* left: 0; */
    right: 0;

    .btn{
        font-family: $principal_font;
        border-radius:20px;
    }
}

input[type='range']
{
    width:100%;
}
/* ---------------------------------------------------
    ANIMATIONS
----------------------------------------------------- */
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes blink {
    0%   {  background-color: rgba(0,0,0,.25); }
    50% {  background-color: rgba(255,0,0,.75); }
    100% {  background-color: rgba(0,0,0,.25); }
}
  
  
.pichi {
    position:relative;
    animation: pichi .5s ease-in-out;
}

@keyframes pichi {
    0%   { opacity:0; }
    100% { opacity:1; }
}

@media (max-width: 823px) {
    .footer
    {
        width:100%;
    }
}